{% extends "::base.html.twig" %}

{% block title %}CodersLabBundle:Address:deleteEmail{% endblock %}

{% block body %}
<h1>Welcome to the Address:deleteEmail page</h1>


Adres email został usunięty
{% endblock %}
